<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div>
            <label for="body">Post</label>
            <input type="text" id="body" name="post[body]" value="<%= post.body %>">
        </div>
        <button>Update</button>
    </form>
    <a href="/posts/<%= post.id %>">Back to Post</a>
</body>
</html>